:root {
  --color1: #d151dd;
  --color2: #660f72;
}
body {
  font-family: 'Nunito', sans-serif;
}
section {
  padding: 50px 0;
}
header {
  padding: 50px 0;
}
header, footer {
  background: var(--color1);
  background: -moz-linear-gradient(left,  var(--color1) 0%, var(--color2) 100%);
  background: -webkit-linear-gradient(left,  var(--color1) 0%,var(--color2) 100%);
  background: linear-gradient(to right,  var(--color1) 0%,var(--color2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color1), endColorstr=var(--color2),GradientType=1 );
  background-size: contain;
}
.wac_play {
  background-color: var(--color1);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 30px auto;
  transition: all 0.2s ease;
  box-shadow: 10px 5px 5px #70157c;
}
.wac_play:hover {
  background-color: var(--color2);
}
.wac_triangle {
  margin-right: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent var(--bs-white);
}
.btn-wac {
  display: block;
  max-width: 200px;
  margin: 0 auto;
  padding: 8px 30px;
  color: var(--bs-white);
  background-color: var(--color1);
  box-shadow: 10px 5px 5px #70157c;
}
.btn-wac:hover {
  color: var(--bs-white);
  background-color: var(--color2);
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Блок Почему, Варианты десертов */
.about {
  padding: 30px 15px 20px 15px;
}
.about, .desserttype, .makinganorder, .pastrycook {
  background-color: #eee;
}
.about i {
  font-size: 30px;
  color: var(--color2);
}
.wac_circle {
  margin: 0 auto 15px;
  width: 60px;
  height: 60px;
  border: 3px solid var(--color2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 5px 5px #70157c;
}
.line {
  width: 80px;
  height: 3px;
  background-color: var(--color1);
  margin: 15px auto 30px;
}
.about h5 {
  font-size: 20px;
}
/* Блок Важно*/
.itisimportant h5 {
  padding: 50px;
  border: 7px inset var(--color1);
  box-shadow: 10px 5px 5px #70157c;
}
.itisimportant h2,
.desserttype h2,
.makinganorder h2,
.about h2,
.pastrycook h2,
.myreview h2,
.myportfolio h2 {
  font-weight: bold;
}
/* Блок Варианты*/
.accordion-button:not(.collapsed) {
  color: var(--bs-black);
  font-weight: bold;
  background-color: var(--color1);
}
/* Как заказать */
.makinganorder {
  padding: 5px 0 0 0;
}
.makinganorder h5 {
  padding: 25px;
  border: 7px inset var(--color1);
  box-shadow: 10px 5px 5px #70157c;
}
.makinganorder {
  background-color: #fff;
}
/* Обо мне*/
.pastrycook {
  padding-bottom: 0;
}
.wac_img {
  max-width: 260px;
}
/* Отзывы */
.myreview {
padding: 5px 0 30px 0;
}
/* Подвал */
#footer {
  padding: 10px 15px 20px 15px;
}
#footertext {
  font-size: 25px;
  color: #220221;
  font-weight: bold;
}
/* Слайдер */
.mycontainer {
  max-width: 1000px;
  margin: 0 auto;
}
.itc-slider__wrapper {
  overflow: hidden;
}
.itc-slider__item {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 7rem;
  /* contain: !importantcontent; */
}
/* на маленьких устройствах 1 слайд */
.itc-slider__item {
  flex: 0 0 100%;
  max-width: 100%;
}
/* на средних экранах (ширина больше 768px) 2 слайда */
@media (min-width: 768px) {
  .itc-slider__item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
/* на больших экранах (ширина больше 1200px) 3 слайда */
@media (min-width: 1200px) {
  .itc-slider__item {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
/* Цвет */
.color1 {
  color: var(--color1);
}
.color2 {
  color: var(--color2);
}
.bg1 {
  background-color: var(--color1);
}
.bg2 {
  background-color: var(--color2);
}

